div#user-container{
    width: 100%;
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#user-options{
    width: 400px;
    display: flex;
    flex-direction: column;
    
}

div#user-options>button {
    display: block;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: rgb(9, 70, 182);
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
}

div#user-options>button:hover{
    background-color: rgb(0, 43, 124);
}

div#user-options>*{
    margin: 10px auto;
}