div#orderView-container{
    width: 100%;
    min-height: 75vh;
    height: fit-content;
    display: flex;
    align-items: center;
}

div#orderView{
    margin: 20px auto;
    width: 500px;
    text-align: center;
}

div#orderView:nth-child(1){
    margin: 10px auto;
}

h6#orderView-link{
    cursor: pointer;
    margin-top: 20px;
    text-decoration: underline;
    color: blue;
} 